@use "../common/variables.scss";
@use "../common/mixins.scss";

.about {
  @include mixins.mobile {
    padding: 40px 0;

    & p {
      @include mixins.font-info(variables.$font-primary, 14px, 22px, 300);
      padding: 0 15px;
      margin: 0 0 36px;
    }
  }

  @include mixins.tablet {
    padding: 60px 45px 35px;
    display: flex;
    align-items: center;

    & p {
      @include mixins.font-info(variables.$font-primary, 16px, 24px, 300);
      text-align: center;
      max-width: 502px;
      padding: 0;
      margin: 0 0 36px;
    }
  }
}

.about__title {
  @include mixins.mobile {
    padding: 0 15px;
    margin-bottom: 12px;
  }

  @include mixins.tablet {
    padding: 0;
    margin-bottom: 20px;
  }
}

.about__additional-info {
  margin-bottom: 36px;

  @include mixins.mobile {
    @include mixins.font-info(variables.$font-primary, 18px, 20px);
    padding: 0 15px;
  }

  @include mixins.tablet {
    @include mixins.font-info(variables.$font-primary, 20px, 20px);
    text-align: center;
  }
}

.about__image {
  display: block;
  width: 100%;
  object-fit: cover;

  @include mixins.mobile {
    margin-bottom: 36px;
  }
}

.about__video-cover {
  position: relative;

  @include mixins.tablet {
    margin-top: -85px;
  }
}
