@use "../common/variables.scss";
@use "../common/mixins.scss";

$about-text-padding: 0 15px;

.about {
  padding: 40px 0;
}

.about__title {
  padding: $about-text-padding;
}

.about__additional-info {
  @include mixins.font-info(variables.$font-primary, 18px, 20px);
  padding: $about-text-padding;
  margin-bottom: 36px;
}

.about__description {
  @include mixins.font-info(variables.$font-primary, 14px, 22px, 300);
  padding: $about-text-padding;
  margin: 0 0 36px;
}

.about__image {
  display: block;
  width: 100%;
  object-fit: cover;
  margin-bottom: 36px;
}

.about__video-cover {
  position: relative;
}
