@use "../common/variables.scss";
@use "../common/mixins.scss";

.accordion__item {
  position: relative;
}

.accordion__item button {
  width: 100%;
  text-align: left;
  border: none;
  color: inherit;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  @include mixins.mobile {
    @include mixins.font-info(variables.$font-primary, 20px, 20px);

    padding: 20px 52px 20px 0;
  }

  @include mixins.tablet {
    @include mixins.font-info(variables.$font-primary, 22px, 22px);

    padding: 7px 118px 25px 0;
  }

  @include mixins.desktop {
    @include mixins.font-info(variables.$font-primary, 24px, 24px);

    padding: 31px 125px 30px 0;
  }
}

.accordion__item p {
  @include mixins.font-info(variables.$font-primary, 16px, 20px, 300);

  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;

  @include mixins.mobile {
    @include mixins.font-info(variables.$font-primary, 16px, 20px, 300);

    padding-right: 52px;
  }

  @include mixins.tablet {
    @include mixins.font-info(variables.$font-primary, 18px, 24px, 300);

    margin-top: -22px;
    padding-right: 118px;
  }

  @include mixins.desktop {
    margin-top: 0;
    padding-right: 210px;
  }
}

.accordion__item-expander {
  position: absolute;
  right: 0;
  border-radius: 50%;
  background-color: variables.$background-color-transparent;
  border: 1px solid variables.$button-color-secondary;
  cursor: pointer;

  &:hover {
    background-color: variables.$button-color-secondary;
  }

  &:hover::before {
    background-color: variables.$button-color-accent;
  }

  &:hover::after {
    background-color: variables.$button-color-accent;
  }

  &:focus {
    background-color: variables.$border-color-secondary;
  }

  &:focus::before {
    background-color: variables.$button-color-accent;
  }

  &:focus::after {
    background-color: variables.$button-color-accent;
  }

  &:active {
    background-color: variables.$button-color-secondary;
  }

  &:active::before {
    background-color: variables.$button-color-accent;
  }

  &:active::after {
    background-color: variables.$background-color-transparent;
  }

  &:disabled {
    background-color: rgba(variables.$button-color-secondary, 0.3);
  }

  &:disabled::before {
    background-color: rgba(variables.$button-color-secondary, 0.3);
  }

  &:disabled::after {
    background-color: rgba(variables.$button-color-secondary, 0.3);
  }

  @include mixins.mobile {
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
  }

  @include mixins.tablet {
    top: 23px;
    width: 40px;
    height: 40px;
  }

  @include mixins.desktop {
    top: 23px;
  }

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: variables.$button-color-secondary;
  }

  &::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 1px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: variables.$button-color-secondary;
  }
}

.accordion__item--expanded p {
  max-height: 800px;
  transition: max-height 2s ease;
  margin: 0 0 23px;
}

.accordion__item--expanded .accordion__item-expander {
  background-color: variables.$button-color-secondary;

  @include mixins.mobile {
    top: 40px;
  }
}

.accordion__item--expanded .accordion__item-expander::before {
  background-color: variables.$background-color-primary;
}

.accordion__item--expanded .accordion__item-expander::after {
  background-color: variables.$background-color-transparent;
}

.accordion__item--expanded .accordion__item-expander:active::after {
  background-color: variables.$button-color-accent;
}

.accordion__item--expanded button {
  @include mixins.tablet {
    padding-top: 33px;
    padding-bottom: 18px;
  }

  @include mixins.desktop {
    padding-top: 31px;
    padding-bottom: 30px;
  }
}
