@use "../common/variables.scss";
@use "../common/mixins.scss";

.button {
  @include mixins.font-info(variables.$font-primary, 12px, 12px, 700);

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  text-align: center;
  padding: 22px;
  cursor: pointer;
}

.button--primary {
  color: variables.$button-color-accent;
  border: 2px solid variables.$button-color-accent;

  &:hover {
    color: variables.$font-color-accent;
    background-color: variables.$button-color-accent;
    border-color: variables.$button-color-accent;
  }

  &:focus {
    color: variables.$font-color-accent;
    border-color: variables.$border-color-accent;
    background-color: rgba(variables.$button-color-accent, 0.8);
  }

  &:active {
    color: variables.$button-color-primary;
    border-color: variables.$button-color-accent;
    background-color: variables.$button-color-accent;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.button--secondary {
  border-color: variables.$font-color-primary;
  color: variables.$font-color-primary;

  &:hover {
    color: variables.$font-color-secondary;
    background-image: variables.$background-color-hover;
  }

  &:focus {
    color: variables.$font-color-secondary;
    background-image: variables.$background-color-focus;
    border-color: variables.$border-color-accent;
  }

  &:active {
    color: rgba(variables.$font-color-secondary, 0.7);
    background-image: variables.$background-color-hover;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.button--swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: variables.$font-color-primary;
  background: variables.$background-color-transparent;
  margin: 0;
  padding: 0;
  border: 1px solid variables.$background-color-transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;

  &:hover {
    border-color: variables.$font-color-primary;
  }

  &:focus {
    border-color: variables.$font-color-primary;
    background: variables.$font-color-shadow;
  }

  &:active {
    color: variables.$font-color-secondary;
    background: variables.$button-color-primary;
  }

  &:disabled {
    opacity: 0.3;
  }
}
