@use "../common/variables.scss";
@use "../common/mixins.scss";

.contacts {
  @include mixins.mobile {
    padding: 36px 15px;
  }

  @include mixins.tablet {
    padding: 60px 45px;
  }

  @include mixins.desktop {
    padding: 60px 103px;
  }
}

.contacts__wrapper {
  @include mixins.desktop {
    align-self: flex-start;
  }
}

.contacts__title {
  margin-bottom: 37px;

  @include mixins.tablet {
    @include mixins.font-info(variables.$font-secondary, 54px, 54px, 600);
  }

  @include mixins.desktop {
    text-align: left;
    margin-bottom: 36px;
  }
}

.contacts__list {
  @include mixins.list-base;

  position: relative;

  @include mixins.mobile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 27px;
  }

  @include mixins.tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 15px;
    margin: 0 auto;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 1px;
      height: 100%;
      background: variables.$border-color-secondary;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @include mixins.desktop {
    column-gap: 120px;
  }
}

.contacts__item:nth-child(2n) {
  @include mixins.tablet {
    grid-row: 2/3;
  }
}

.contacts__item-title {
  color: inherit;

  @include mixins.mobile {
    @include mixins.font-info(variables.$font-primary, 20px, 20px);

    margin: 0 0 12px;
  }

  @include mixins.tablet {
    @include mixins.font-info(variables.$font-primary, 24px, 24px);

    margin: 0 0 5px;
  }
}

.contacts__item-info {
  text-decoration: none;
  color: inherit;
  margin: 0;

  @include mixins.mobile {
    @include mixins.font-info(variables.$font-primary, 14px, 20px);
  }

  @include mixins.tablet {
    @include mixins.font-info(variables.$font-primary, 14px, 22px);
  }
}
