@use "../common/variables.scss";
@use "../common/mixins.scss";

.contacts {
  @include mixins.mobile {
    padding: 37px 15px;
  }

  @include mixins.tablet {
    padding: 60px 45px 57px;
  }

  @include mixins.desktop {
    padding: 59px 103px 60px;
    border-top: 1px solid variables.$border-color-secondary;
  }
}

.contacts__wrapper {
  @include mixins.desktop {
    width: 100%;
    align-self: flex-start;
  }
}

.contacts__title {
  margin-bottom: 37px;

  @include mixins.tablet {
    @include mixins.font-info(variables.$font-secondary, 54px, 54px, 600);
  }

  @include mixins.desktop {
    text-align: left;
    margin-bottom: 37px;
  }
}

.contacts__list {
  @include mixins.list-base;

  position: relative;

  @include mixins.mobile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 27px;
  }

  @include mixins.tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 13px;
    margin: 0 auto;
    max-width: 440px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 1px;
      height: 100%;
      background: variables.$border-color-secondary;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @include mixins.desktop {
    margin: 0;
    grid-template-columns: 200px 180px;
    column-gap: 98px;
    row-gap: 14px;

    &::after {
      left: 239px;
    }
  }
}

.contacts__item:nth-child(2n) {
  @include mixins.tablet {
    grid-row: 2/3;
  }
}

.contacts__item-title {
  color: inherit;

  @include mixins.mobile {
    @include mixins.font-info(variables.$font-primary, 20px, 20px);

    margin: 0 0 13px;
  }

  @include mixins.tablet {
    @include mixins.font-info(variables.$font-primary, 24px, 24px);

    margin: 0 0 6px;
  }
}

.contacts__item-info {
  text-decoration: none;
  color: inherit;
  margin: 0;

  @include mixins.mobile {
    @include mixins.font-info(variables.$font-primary, 14px, 20px);
  }

  @include mixins.tablet {
    @include mixins.font-info(variables.$font-primary, 14px, 22px);
  }
}

.contacts__item-info--phone,
.contacts__item-info--email {
  @include mixins.mobile {
    margin: 0 0 9px;
  }

  @include mixins.tablet {
    margin: 0 0 4px;
  }
}
