@use "../common/variables.scss";
@use "../common/mixins.scss";

.faq {
  background-color: variables.$background-color-secondary;
}

.faq__wrapper {
  @include mixins.mobile {
    padding: 70px 15px;
  }

  @include mixins.tablet {
    padding: 61px 0 65px;
  }

  @include mixins.desktop {
    padding: 100px 58px;
  }
}

.faq__title {
  text-align: center;

  @include mixins.mobile {
    margin-bottom: 35px;
  }

  @include mixins.tablet {
    margin-bottom: 44px;
  }

  @include mixins.desktop {
    text-align: left;
    margin-bottom: 50px;
  }
}

.faq__tab-control {
  display: grid;
  grid-template-columns: 1fr;
  gap: 35px;
  max-width: 100%;
  overflow: hidden;

  @include mixins.mobile {
    gap: 35px;
  }

  @include mixins.tablet {
    gap: 45px;
  }

  @include mixins.desktop {
    grid-template-columns: 260px 1fr;
    gap: 40px;
  }
}

.faq__page-list {
  @include mixins.list-base;

  gap: 10px;

  @include mixins.mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include mixins.tablet {
    display: flex;
  }

  @include mixins.desktop {
    flex-direction: column;
    gap: 11px;
  }
}

.faq__page-item {
  width: 100%;
  text-align: center;
  padding: 10px 22px;
  border: 1px solid variables.$border-color-primary;
  cursor: pointer;

  @include mixins.tablet {
    padding: 15px 22px 13px;
  }

  @include mixins.desktop {
    padding: 18px 22px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &:focus-within,
  &:focus,
  &:hover {
    border: 1px solid variables.$button-color-primary;
  }

  &:active {
    color: variables.$font-color-secondary;
    background: variables.$background-color-active-tab;
  }

  &:disabled {
    opacity: 0.2;
  }
}

.faq__page-link {
  text-decoration: none;
  color: inherit;
  outline: none;

  @include mixins.mobile {
    @include mixins.font-info(variables.$font-primary, 16px, 16px);
  }

  @include mixins.tablet {
    @include mixins.font-info(variables.$font-primary, 18px, 18px);
  }
}

.faq__page-item--active {
  color: variables.$font-color-secondary;
  background: variables.$background-color-active-tab;
}

.faq__page-content-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;

  @include mixins.desktop {
    margin: 0 auto 0 0;
  }
}

.faq__page-content-list {
  @include mixins.list-base;

  display: none;
  width: 100%;
}

.faq__page-content-list--active {
  display: block;
}

.faq__page-content-item {
  border-top: 1px solid variables.$border-color-secondary;

  @include mixins.tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 88px;
  }

  &:last-child {
    border-bottom: 1px solid variables.$border-color-secondary;
  }
}
