@use "../common/variables.scss";
@use "../common/mixins.scss";

.feature-card {
  display: flex;
  max-width: 324px;

  @include mixins.mobile {
    padding: 0 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @include mixins.tablet {
    padding: 0;
    flex-direction: row;
    column-gap: 14px;
    row-gap: 5px;
  }

  @include mixins.desktop {
    margin-top: -1px;
    gap: 43px;
  }
}

.feature-card dl {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  @include mixins.mobile {
    align-items: center;
    margin-bottom: 12px;
  }

  @include mixins.tablet {
    align-items: flex-start;
  }
}

.feature-card dt {
  padding: 0;
  margin: 0;
  background: variables.$border-card;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @include mixins.mobile {
    @include mixins.font-info(variables.$font-primary, 64px, 64px, 700);
  }

  @include mixins.tablet {
    @include mixins.font-info(variables.$font-primary, 70px, 70px, 700);
  }

  @include mixins.desktop {
    margin-bottom: 1px;
    min-width: 71px;
  }
}

.feature-card dd {
  color: variables.$font-color-accent-alternate;
  padding: 0;
  margin: 0;

  @include mixins.mobile {
    @include mixins.font-info(variables.$font-primary, 14px, 20px);
  }

  @include mixins.tablet {
    @include mixins.font-info(variables.$font-primary, 14px, 22px);
  }
}

.feature-card div {
  display: flex;
  flex-direction: column;
  margin: 0;

  @include mixins.mobile {
    align-items: center;
  }
}

.feature-card h3 {
  margin: 0 0 12px;

  @include mixins.mobile {
    @include mixins.font-info(variables.$font-primary, 18px, 20px);
  }

  @include mixins.tablet {
    @include mixins.font-info(variables.$font-primary, 20px, 20px);
  }

  @include mixins.desktop {
    @include mixins.font-info(variables.$font-primary, 22px, 22px);

    margin: 1px 0 8px;
  }
}

.feature-card p {
  margin: 0;

  @include mixins.mobile {
    @include mixins.font-info(variables.$font-primary, 14px, 22px, 300);

    text-align: center;
    padding: 0 26px;
  }

  @include mixins.tablet {
    @include mixins.font-info(variables.$font-primary, 16px, 24px, 300);

    text-align: left;
  }
}

.feature-card--special {
  background-color: variables.$button-color-secondary;
  color: variables.$font-color-secondary;
  width: 100%;
  padding: 32px 45px 38px;

  @include mixins.tablet {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 35px 45px;
  }

  @include mixins.desktop {
    min-width: 360px;
    padding: 58px 40px;
    gap: 30px;
  }
}

.feature-card--special dl {
  @include mixins.tablet {
    align-items: center;
  }
}

.feature-card--special dt {
  color: inherit;
  -webkit-text-fill-color: variables.$font-color-secondary;

  @include mixins.mobile {
    margin-bottom: 5px;
  }

  @include mixins.tablet {
    margin-bottom: 25px;
  }

  @include mixins.desktop {
    margin-bottom: 10px;
  }
}

.feature-card--special dd {
  color: inherit;
  margin-bottom: 20px;

  @include mixins.mobile {
    @include mixins.font-info(variables.$font-primary, 22px, 22px, 700);

    margin-bottom: 10px;
  }

  @include mixins.tablet {
    @include mixins.font-info(variables.$font-primary, 24px, 24px, 700);

    margin-bottom: 20px;
  }

  @include mixins.desktop {
    @include mixins.font-info(variables.$font-primary, 26px, 26px, 700);

    margin-bottom: 0;
  }
}

.feature-card--special p {
  @include mixins.tablet {
    text-align: center;
  }

  @include mixins.desktop {
    min-width: 280px;
  }
}
