@use "../common/variables.scss";
@use "../common/mixins.scss";

.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;

  & dl {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  & dt {
    @include mixins.font-info(variables.$font-primary, 64px, 64px, 700);
    padding: 0;
    margin: 0;
    background: linear-gradient(128deg, variables.$button-color-tab-state 0%, variables.$font-color-alternate 45.58%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & dd {
    @include mixins.font-info(variables.$font-primary, 14px, 20px);
    color: variables.$font-color-accent-alternate;
    padding: 0;
    margin: 0;
  }

  & div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  & h3 {
    @include mixins.font-info(variables.$font-primary, 18px, 20px);
    margin-bottom: 12px;
  }

  & p {
    @include mixins.font-info(variables.$font-primary, 14px, 22px, 300);
    text-align: center;
    margin: 0;
  }
}

.feature-card--special {
  background-color: variables.$button-color-secondary;
  color: variables.$font-color-secondary;
  width: 100%;
  padding: 40px 40px 41px;

  & dt {
    color: inherit;
    -webkit-text-fill-color: variables.$font-color-secondary;
  }

  & dd {
    @include mixins.font-info(variables.$font-primary, 22px, 22px, 700);
    color: inherit;
    margin-bottom: 20px;
  }
}
