@use "../common/variables.scss";
@use "../common/mixins.scss";

.feature-card {
  display: flex;
  padding: 0 15px;
  max-width: 324px;

  @include mixins.mobile {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @include mixins.tablet {
    flex-direction: row;
    gap: 10px;
  }

  & dl {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    @include mixins.mobile {
      align-items: center;
    }

    @include mixins.tablet {
      align-items: flex-start;
    }
  }

  & dt {
    @include mixins.font-info(variables.$font-primary, 64px, 64px, 700);
    padding: 0;
    margin: 0;
    background: linear-gradient(128deg, variables.$button-color-tab-state 0%, variables.$font-color-alternate 45.58%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & dd {
    @include mixins.font-info(variables.$font-primary, 14px, 20px);
    color: variables.$font-color-accent-alternate;
    padding: 0;
    margin: 0;
  }

  & div {
    display: flex;
    flex-direction: column;
    margin: 0;

    @include mixins.mobile {
      align-items: center;
    }
  }

  & h3 {
    @include mixins.font-info(variables.$font-primary, 18px, 20px);
    margin: 0 0 12px;
  }

  & p {
    @include mixins.font-info(variables.$font-primary, 14px, 22px, 300);
    margin: 0;

    @include mixins.mobile {
      text-align: center;
    }

    @include mixins.tablet {
      text-align: left;
    }
  }
}

.feature-card--special {
  background-color: variables.$button-color-secondary;
  color: variables.$font-color-secondary;
  width: 100%;
  padding: 40px 40px 41px;

  @include mixins.tablet {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  & dl {
    @include mixins.tablet {
      align-items: center;
    }
  }

  & dt {
    color: inherit;
    -webkit-text-fill-color: variables.$font-color-secondary;

    @include mixins.tablet {
      margin-bottom: 25px;
    }
  }

  & dd {
    @include mixins.font-info(variables.$font-primary, 22px, 22px, 700);
    color: inherit;
    margin-bottom: 20px;
  }

  p {
    @include mixins.tablet {
      text-align: center;
    }
  }
}
