@use "../common/variables.scss";
@use "../common/mixins.scss";

.games {
  color: variables.$font-color-secondary;
  padding: 0;
}

.games__wrapper {
  @include mixins.mobile {
    padding: 25px 15px;
  }

  @include mixins.tablet {
    padding: 53px 45px 60px;
    display: grid;
    grid-template-columns: auto 300px 378px auto;
  }

  @include mixins.desktop {
    padding: 100px 103px;
    place-self: center;
    grid-template-columns: auto 500px 660px auto;
  }
}

.games__info {
  background-color: variables.$background-color-banner;
  display: grid;
  grid-template-columns: 1fr 56px;
  grid-column-gap: 17px;
  padding: 40px;

  @include mixins.tablet {
    grid-template-columns: 120px auto;
    grid-column-gap: 0;
    grid-column: 2/3;
    grid-row: 1 / 2;
  }

  @include mixins.desktop {
    padding: 60px 80px;
    column-gap: 77px;
    row-gap: 20px;
  }
}

.games__picture-wrapper {
  @include mixins.tablet {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
}

.games__title {
  @include mixins.font-info(variables.$font-secondary, 48px, 54px, 600);

  text-transform: uppercase;

  @include mixins.tablet {
    text-align: left;
  }

  @include mixins.desktop {
    @include mixins.font-info(variables.$font-secondary, 82px, 96px, 600);
  }
}

.games__date-time {
  margin: 0;
}

.games__time-title,
.games__date-title {
  margin-bottom: 2px;

  @include mixins.mobile {
    @include mixins.font-info(variables.$font-primary, 16px, 20px, 300);
  }

  @include mixins.tablet {
    @include mixins.font-info(variables.$font-primary, 18px, 24px, 300);
    margin-bottom: 1px;
  }
}

.games__time-value {
  position: relative;
  padding-top: 2px;
  display: flex;
  align-items: center;
  margin: 0 0 6px;

  @include mixins.tablet {
    margin-bottom: 0;
  }

  &::after {
    width: 100%;
    height: 1px;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-color: variables.$background-color-primary;
  }
}
.games__date-value {
  position: relative;
  padding-top: 2px;
  display: flex;
  align-items: center;
  margin: 0 0 6px;

  @include mixins.tablet {
    margin-bottom: 11px;
  }

  &::after {
    width: 100%;
    height: 1px;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-color: variables.$background-color-primary;
  }
}

.games__time-hours,
.games__date-day {
  @include mixins.font-info(variables.$font-primary, 24px, 24px, 700);

  @include mixins.mobile {
    margin-right: 3px;
  }

  @include mixins.tablet {
    margin-right: 5px;
  }

  @include mixins.desktop {
    @include mixins.font-info(variables.$font-primary, 40px, 40px, 700);
  }
}

.games__date-month-year {
  @include mixins.mobile {
    @include mixins.font-info(variables.$font-primary, 12px, 12px);
  }

  @include mixins.tablet {
    @include mixins.font-info(variables.$font-primary, 14px, 22px);
  }

  @include mixins.desktop {
    max-width: 65px;
  }
}

.games__description {
  grid-column: 1/-1;

  @include mixins.mobile {
    @include mixins.font-info(variables.$font-primary, 16px, 20px, 300);
  }

  @include mixins.tablet {
    @include mixins.font-info(variables.$font-primary, 18px, 24px, 300);
    margin: 0;
  }

  @include mixins.desktop {
    margin: 0;
  }
}

.games__action {
  @include mixins.font-info(variables.$font-primary, 12px, 12px, 700);

  grid-column: 1/-1;

  @include mixins.tablet {
    padding: 20px;
  }

  @include mixins.desktop {
    margin-top: auto;
    padding: 25px 56px;
  }
}

.games__image {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: bottom;
}
