@use "../common/variables.scss";
@use "../common/mixins.scss";

.juri {
  @include mixins.mobile {
    padding: 41px 15px 39px;
  }

  @include mixins.tablet {
    padding: 30px 45px;
  }

  @include mixins.desktop {
    padding: 100px 103px;
  }
}

.juri__button-wrapper {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.juri__wrapper {
  position: relative;

  @include mixins.mobile {
    width: 260px;
  }

  @include mixins.tablet {
    width: 560px;
  }

  @include mixins.desktop {
    width: 1160px;
  }
}

.juri__title {
  text-align: center;

  @include mixins.mobile {
    margin-bottom: 19px;
  }

  @include mixins.tablet {
    @include mixins.font-info(variables.$font-secondary, 54px, 54px, 600);

    margin-bottom: 46px;
  }
}

.juri__list {
  @include mixins.list-base;

  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.juri__button {
  @include mixins.mobile {
    display: none;
  }

  @include mixins.tablet {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.juri__button-prev {
  @include mixins.tablet {
    left: -72px;
  }
}

.juri__button-next {
  right: -72px;
}

.juri__button-next svg {
  @include mixins.tablet {
    transform: rotate(180deg);
  }
}
