@use "../common/variables.scss";
@use "../common/mixins.scss";

.juri-card {
  color: variables.$font-color-secondary;
  height: 300px;
  max-width: 260px;
  position: relative;

  & figure {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  & figcaption {
    @include mixins.font-info(variables.$font-primary, 22px, 22px);

    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 26px;
    left: 50%;
    transform: translateX(-50%);
  }

  &:focus .juri-card__details,
  &:hover .juri-card__details {
    display: block;
    background-color: rgba(variables.$background-color-accent, 0.89);
  }
}

.juri-card__details {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 45px 40px 50px;
  z-index: 1;
  background-color: rgba(variables.$background-color-accent, 0.89);
}

.juri-card__image {
  display: block;
  object-fit: cover;
}

.juri-card__title {
  @include mixins.font-info(variables.$font-primary, 22px, 22px);

  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.juri-card__sport {
  margin: 0 0 28px;
  padding: 0;
  text-align: center;
  color: variables.$font-color-tertiary;
}

.juri-card__achievement-list {
  @include mixins.list-base;

  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 0 0 16px;
}

.juri-card__achievement-item {
  @include mixins.font-info(variables.$font-primary, 14px, 22px);

  position: relative;
  padding: 0 0 0 16px;

  &::before {
    content: "";
    width: 6px;
    height: 6px;
    left: 0;
    top: 7px;
    position: absolute;
    background-color: variables.$font-color-secondary;
    border-radius: 50%;
  }
}
