@use "../common/variables.scss";
@use "../common/mixins.scss";

.offers {
  padding: 0;
}

.offers__wrapper {
  @include mixins.mobile {
    padding: 39px 0 40px;
  }

  @include mixins.tablet {
    padding: 60px 45px;
  }

  @include mixins.desktop {
    padding: 100px 103px 65px;
  }
}

.offers__title {
  text-align: center;

  @include mixins.mobile {
    margin-bottom: 40px;
  }

  @include mixins.tablet {
    margin-bottom: 35px;
  }

  @include mixins.desktop {
    margin-bottom: 70px;
  }
}

.offers__promos {
  @include mixins.desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
  }
}

.offers__list {
  @include mixins.list-base;

  @include mixins.mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }

  @include mixins.tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  @include mixins.desktop {
    margin-top: 82px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    gap: 30px;
  }
}

.offers__item {
  border: 7px solid;
  border-image: variables.$button-color-alternate 30;
  padding: 20px 20px 14px;

  @include mixins.mobile {
    margin: 0 15px;
  }

  @include mixins.tablet {
    min-height: 188px;
    margin: 0;
  }

  @include mixins.desktop {
    min-height: 174px;
  }
}

.offers__item h3 {
  margin: 0;
  padding: 0;

  @include mixins.mobile {
    @include mixins.font-info(variables.$font-primary, 22px, 22px, 700);

    margin-bottom: 10px;
    text-align: center;
  }

  @include mixins.tablet {
    @include mixins.font-info(variables.$font-primary, 26px, 26px, 700);

    text-align: left;
  }
}

.offers__item span {
  @include mixins.font-info(variables.$font-primary, 64px, 64px, 700);

  display: block;
  text-align: center;

  @include mixins.mobile {
    margin-top: 9px;
    margin-bottom: 6px;
  }

  @include mixins.tablet {
    margin-top: 20px;

    @include mixins.font-info(variables.$font-primary, 70px, 70px, 700);
  }

  @include mixins.desktop {
    @include mixins.font-info(variables.$font-primary, 70px, 70px, 700);
  }
}

.offers__item p {
  margin: 0;

  @include mixins.mobile {
    @include mixins.font-info(variables.$font-primary, 14px, 22px, 300);

    text-align: center;
  }

  @include mixins.tablet {
    @include mixins.font-info(variables.$font-primary, 16px, 24px, 300);

    text-align: left;
  }
}

.offers__item img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.offers__item a {
  display: inline-block;

  @include mixins.tablet {
    margin: auto 0 0;
    padding-left: 0;
  }
}

.offers__item .offers__item-description {
  padding: 0;
}

.offers__item--special {
  color: variables.$font-color-secondary;
  background-color: variables.$background-color-banner;
  border: none;
  margin: 0;
  padding: 0;

  @include mixins.mobile {
    margin-bottom: 40px;
  }

  @include mixins.tablet {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 400px;
    margin-bottom: 35px;
  }

  @include mixins.desktop {
    grid-column: 1/2;
    grid-template-columns: 1fr 280px;
    grid-row: span 2;
  }
}


.offers__item--special h3 {
  @include mixins.mobile {
    @include mixins.font-info(variables.$font-primary, 22px, 22px, 700);

    margin: 0;
  }

  @include mixins.tablet {
    @include mixins.font-info(variables.$font-primary, 24px, 24px, 700);
  }

  @include mixins.desktop {
    @include mixins.font-info(variables.$font-primary, 26px, 26px, 700);
  }
}

.offers__item--special p {
  @include mixins.mobile {
    @include mixins.font-info(variables.$font-primary, 16px, 20px, 300);
  }

  @include mixins.tablet {
    @include mixins.font-info(variables.$font-primary, 18px, 24px, 300);
  }
}

.offers__item--special .offers__item-description {
  gap: 40px;

  @include mixins.mobile {
    padding: 30px 30px 23px;
    gap: 20px;
  }

  @include mixins.tablet {
    padding: 40px 24px 34px;
  }

  @include mixins.desktop {
    padding: 40px 45px 34px;
  }
}

.offers__item-description {
  display: flex;
  flex-direction: column;

  @include mixins.mobile {
    gap: 10px;
    align-items: center;
  }

  @include mixins.tablet {
    gap: 10px;
    align-items: flex-start;
    height: 100%;
  }
}
