@use "../common/variables.scss";
@use "../common/mixins.scss";

.page {
  box-sizing: border-box;
  height: 100%;
}

.page__body {
  @include mixins.font-info(variables.$font-primary, 16px, 24px);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: variables.$background-color-primary;
  color: variables.$font-color-primary;
}

.page__container {
  width: 100%;
  max-width: variables.$view-port-desktop-wide;
  margin: 0 auto;
}

.page__container-wide-splitter {

  @include mixins.mobile {
    display: block;
  }

  @include  mixins.desktop {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
