@use "../common/variables.scss";
@use "../common/mixins.scss";

.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription__tabs {
  @include mixins.list-base;

  display: flex;
  position: relative;
  justify-content: center;
  z-index: 1;

  &::after {
    width: 100%;
    height: 2px;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    background-color: variables.$border-color-primary;
  }

  @include mixins.mobile {
    gap: 45px;
    margin-bottom: 30px;
  }

  @include mixins.tablet {
    gap: 43px;
    margin-bottom: 45px;
  }

  @include mixins.desktop {
    gap: 50px;
    margin-bottom: 40px;
  }
}

.subscription__tab-button {
  color: rgba(variables.$font-color-primary, 0.5);
  background-color: variables.$background-color-transparent;
  border: none;
  margin-bottom: 10px;
  padding: 0;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  text-underline-offset: 11px;
  text-decoration-thickness: 2px;

  @include mixins.mobile {
    @include mixins.font-info(variables.$font-primary, 16px, 16px);
  }

  @include mixins.tablet {
    @include mixins.font-info(variables.$font-primary, 18px, 18px);
  }

  @include mixins.desktop {
    @include mixins.font-info(variables.$font-primary, 20px, 20px);
  }

  &:hover {
    text-decoration: underline;
    color: rgba(variables.$font-color-primary, 0.7);
    text-decoration-color: variables.$border-color-hover;
  }

  &:focus {
    text-decoration: underline;
    color: variables.$font-color-primary;
    text-decoration-color: variables.$font-color-primary;
  }

  &:active {
    text-decoration: underline;
    color: variables.$font-color-primary;
    text-decoration-color: variables.$button-color-tab-state;
  }

  &:disabled {
    color: rgba(variables.$font-color-primary, 0.3);
    text-decoration-color: rgba(variables.$font-color-primary, 0.3);
  }
}

.subscription__tab--active {
  position: relative;

  & .subscription__tab-button {
    color: variables.$button-color-primary;
    text-decoration: none;
  }

  &::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: variables.$button-color-tab-state;
  }
}

.subscription__tab-items {
  @include mixins.list-base;

  z-index: 1;
}

.subscription__tab-item {
  display: none;
}

.subscription__tab-item--active {
  display: block;
}

.subscription__cards {
  @include mixins.list-base;

  display: flex;
  flex-direction: column;
  gap: 30px;

  @include mixins.desktop {
    flex-direction: row;
    gap: 40px;
  }
}

.subscription__card {
  background-color: variables.$background-color-primary;
}
