//Fonts
$font-primary: "Roboto Condensed", "Arial", sans-serif;
$font-secondary: "Alumni Sans", "Arial", sans-serif;

//Text Colors
$font-color-primary: #102654;
$font-color-secondary: #FFFFFF;
$font-color-tertiary: #B6BDCC;
$font-color-accent: #103AAE;
$font-color-alternate: linear-gradient(129deg, #d10a42 0%, #0041ca 100%);;
$font-color-shadow: #E8E8E8;

//Buttons Colors
$button-color-primary: #102654;
$button-color-secondary: #1C3374;
$button-color-accent: #FFFFFF;
$button-color-alternate: linear-gradient(136deg, #d10a42 0%, #00359f 100%);
$button-color-tab-state: #D10A42;

//Background colors
$background-color-primary: #FFFFFF;
$background-color-secondary: #F8F9FC;
$background-color-tertiary: #030A1A;
$background-color-banner: #ED0233;
$background-color-accent: #102654;
$background-color-alternate: linear-gradient(90deg, #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);
$background-color-additional: #1C3374;
$background-color-cover: #14367A;
$background-color-play-button: linear-gradient(90deg, #ed0233 0%, #003eb7 100%);
$background-color-transparent: transparent;

//Borders
$border-color-primary: rgba(#787878, 0.2);

//Shadows
$shadow-color-primary: rgba(#2A3B63, 0.17);

//Icons
$icon-color-primary: #FFFFFF;
$icon-color-secondary: #102654;

//Forms
$forms-color-primary: #FFFFFF;
$forms-color-error: #FF121F;

// View Port Size
$view-port-desktop: 1366px;
$view-port-tablet: 768px;
